.wrapper {
  width: 80%;
  margin: 0 auto;
}

.emailinput {
  font-family: 'Inter', sans-serif;
  transform: translateY(-1px);
  background: none;
  border: none;
  line-height: 1.5rem; /* 24px */
  width: 100%; /* Full width of its container */
  color: var(--main-white);
  font-size: 1rem; /* 16px */
}

.input_wrapper {
  display: flex;
  width: 100%;
  max-width: 25rem; 
  padding: 0.75rem 0.5625rem 0.75rem 1.6875rem; /* 12px 9px 12px 27px */
  justify-content: space-between;
  align-items: center;
  border-radius: 2.375rem; /* 38px */
  background: rgba(187, 187, 187, 0.25);
  height: 4.0625rem; /* 65px */
  margin: 0 auto; 
}

.input_wrapper input::placeholder {
  color: var(--main-white);
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 24px */
}

.email img {
  filter: invert(1);
}

.popup {
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(187, 187, 187, 0.25);
  width: 100%;
}

.popup .box {
  position: relative;
  padding: 50px 30px 30px 30px;
  margin: auto;
  /* width: 300px;
  height: 200px; */
  background: #2a2a2a;
  border-radius: 10px;
}
.popup .box form {
  margin: auto;
  width: 70%;
  display: flex;
  flex-flow: column;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
  padding: 0;
}
.close svg {
  width: 100%;
  height: 100%;
}
.info {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}
.info label {
  margin-top: 20px;
}
.info input {
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}
.box h5 {
  margin: 10px 0;
}
.submitbtn {
  margin: auto;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }

  .input_wrapper input::placeholder {
    font-size: 14px;
  }
}
