/* Utility */
.all,
.small {
  display: inline-flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.625rem; /* 10px */
  font-size: 0.875rem; /* 14px */
  padding: 0.9375rem 1.875rem; /* 15px 30px */
  border-radius: 2.375rem; /* 38px */
  box-shadow: 0.25rem 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.1);
}

.small {
  max-width: 250px;
}

/* Button Colors/Styles */
.primary {
  font-weight: 600;
  color: var(--main-white);
  background: var(--main-blue);
  border: 0.125rem solid var(--main-blue); /* 2px */
  transition: transform 0.2s ease-in-out;
}

.primary:hover {
  color: var(--main-white);
  background: rgba(20, 127, 191, 1);
  border: 0.125rem solid rgba(20, 127, 191, 1); /* 2px */
}

.primary:focus {
  border: transparent;
}

.primary:active {
  transform: scale(0.95);
}

.submit {
  border-radius: 5px;
  background: #123848;
  width: 100%;
  box-shadow: none;
}

.cancel {
  font-weight: 500;
  color: var(--main-red);
  text-decoration: underline;
  background: transparent;
}

.secondary,
.tertiary {
  background: none;
  border: none;
  color: var(--main-blue);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 24px;
  box-shadow: none;
  padding: 0;
}

.secondary:hover {
  color: #4db2f0;
}

.secondary .faArrowRight {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  margin-left: -5px;
}

.secondary:hover .faArrowRight {
  transform: translateX(5px);
}

.sign-up {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1.5rem 2.5rem; /* 15px 30px */
  color: var(--main-white);
  background: var(--main-blue);
  border: 0.125rem solid var(--main-blue); /* 2px */
  transition: transform 0.2s ease-in-out;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .all {
    width: auto;
    height: auto;
  }

  .small {
    font-size: 0.8rem;
    width: auto;
  }

  .primary,
  .submit {
    max-width: auto;
    padding: 1rem 1.3rem;
  }

  .secondary {
    padding: 0;
    font-size: 1rem;
  }
}

.tertiary {
  color: var(--main-white);
  background: var(--main-blue);
  padding: 1rem 1.5rem;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
}

.tertiary:hover {
  background: var(--main-white);
  color: rgb(0, 0, 0);
}
