.all,
.small {
  display: inline-flex;
  justify-content: space-between;
  cursor: pointer;
  text-align: center;
}
.all {
  margin: 5px 0px 25px 0px;
  padding: 12px 18px;
  border-radius: 10px;
}
.all > span {
  margin-right: 15px;
}
.small {
  font-size: 0.8rem;
  margin: 5px 10px 25px 10px;
  padding: 8px 12px;
  border-radius: 10px;
}
.submit {
  font-weight: 600;
  color: var(--main-white);
  background: var(--main-blue);
  border: 2px solid var(--main-blue);
}
.submit:hover {
  background: transparent;
}
.primary {
  font-weight: 600;
  color: var(--main-grey);
  background: var(--main-white);
  border: 2px solid var(--main-white);
}
.primary:hover {
  color: var(--main-white);
  background: transparent;
  border: 2px solid var(--main-white);
}
.primary:hover img {
  filter: invert(100);
}
.secondary {
  font-weight: 300;
  color: var(--main-white);
  background: var(--dark-grey);
  border: 2px solid var(--dark-grey);
}
.secondary:hover {
  font-weight: 300;
  color: var(--main-white);
  background: transparent;
  border: 2px solid var(--main-white);
}
.tietary {
  font-weight: 500;
  color: var(--main-white);
  text-decoration: underline;
  background: transparent;
}
.cancel {
  font-weight: 500;
  color: var(--main-red);
  text-decoration: underline;
  background: transparent;
}
