.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper .info {
  max-width: 80%;
  text-align: center;
  margin: 0 auto 24px auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 16px;
  flex: 1;
  border-radius: 15px;
  border: 1px solid var(--grey-border);
  background: var(--blue-background);
  padding: 2.5rem 1rem;
}

.card p {
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.icon {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.imgContainer {
  min-width: 56px;
  min-height: 56px;
}

@media (max-width: 768px) {
  .wrapper .info {
    max-width: 100%;
  }

  .flex {
    flex-direction: column;
    background: var(--blue-background);
    border-radius: 15px;
    border: 1px solid var(--grey-border);
    padding: 2rem;
    align-items: flex-start;
    gap: 2rem;
  }

  .card {
    border: none;
    background: none;
    flex-direction: row;
    padding: 0;
    text-align: left;
    gap: 2rem;
  }

  .card p {
    color: var(--main-white);
    font-weight: 500;
  }
}
