@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@value --gradient-color: linear-gradient(
    110deg,
    rgba(166, 230, 255, 1) 0%,
    rgba(187, 120, 252, 1) 100%
  );
:root {
  --dark-grey: #111111;
  --main-grey: #212121;
  --light-grey: #2a2a2a;
  --bright-grey: #404040;
  --main-white: #eee;
  --main-red: #ff8181;
  --main-blue: #4ea5d9;
  --nav-icon-size: 20px;
  --nav-spacing: 20px;
  --nav-width: 250px;
  --top-margin: 30px;
  --bottom-margin: 50px;
  --blue-grad: linear-gradient(
    110deg,
    rgba(90, 205, 205, 1) 0%,
    rgba(150, 205, 255, 1) 100%
  );
}
html,
body {
  font-size: 100%;
  background: #2a2a2a;
  color: #eee;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
  font-weight: 500;
  font-size: calc(0.5rem + 5.5vw);
}

h2 {
  font-weight: 400;
  margin: 40px 0;
  font-size: calc(2rem + 2.5vw);
}

h3 {
  margin: 40px 0;
  font-weight: 200;
  font-size: calc(2rem + 2vw);
}
h4 {
  margin: 40px 0;
  font-weight: 500;
  font-size: calc(1.5rem + 1vw);
}
h5 {
  margin: 20px 0;
  font-weight: 500;
  font-size: calc(0.7rem + 1vw);
}
h6 {
  opacity: 0.7;
  margin: 20px 0;
  font-weight: 300;
  font-size: calc(0.5rem + 0.8vw);
}
p {
  margin: 20px 0;
  font-weight: 200;
  font-size: calc(1rem + 0.3vw);
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
  background: var(--blue-grad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* 
.Mascot_svg__curve1 {
  animation: fadein2 2s ease;
}
.Mascot_svg__curve2 {
  animation: fadein1 2s ease;
}
.Mascot_svg__curve3 {
  animation: fadein0 2s ease;
}
.Mascot_svg__ellipse {
  animation: fadein3 2s ease;
}

@keyframes fadein0 {
  0% {
    opacity: 0;
  }
  25% {
    opcacity: 1;
  }
}
@keyframes fadein1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opcacity: 1;
  }
}
@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opcacity: 1;
  }
}
@keyframes fadein3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opcacity: 1;
  }
} */
