@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import '@splidejs/splide/dist/css/splide.min.css';

@value --gradient-color: linear-gradient(
    110deg,
    rgba(166, 230, 255, 1) 0%,
    rgba(187, 120, 252, 1) 100%
  );
:root {
  --dark-grey: #111111;
  --main-grey: #212121;
  --grey-background: rgba(68, 68, 68, 0.8);
  --grey-text: #808080;
  --grey-border: #545454;
  --main-white: #eee;
  --main-blue: #1698e7;
  --blue-background: #123848;
  --heading-margin: 48px auto;
  --animation-speed: 30s;
  --dark-overlay: rgba(0, 0, 0, 0.5);
}
/* Reset and Box Model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 100%; /* 16px */
  color: var(--main-white);
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'clig' 0, 'liga' 0;
  background: linear-gradient(
    180deg,
    #00101e 18.7%,
    #306e90 57.29%,
    #021625 100%
  );
  /*
  SHOULD BE THIS, BUT IT'S UGLY
  background: linear-gradient(180deg, #00101E 22.70%, #306E90 57.29%, #021625 100%);
  background-attachment: fixed;
  */
}

#search::before, #library::before, #conditionalFinder::before  {
  content: '';
  display: block;
  height: 200px;
  margin-top: -200px;
  visibility: hidden;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Typography */

h1 {
  font-weight: 300;
  font-size: calc(1rem + 2.8vw);
  line-height: 125%;
  letter-spacing: -0.5px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-weight: 300;
  text-align: center;
  font-size: calc(2.5rem + 0.5vw);
  line-height: 115%;
  margin: 0 auto;
}

h3 {
  margin: 0 auto;
  font-size: calc(1.5rem + 0.7vw);
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}

h4 {
  margin: 0 auto;
  font-weight: 300;
  font-size: calc(1.25rem + 0.5vw);
  line-height: 125%;
  letter-spacing: 0.18px;
}

h5 {
  margin: 0 auto;
  font-size: calc(1rem + 0.3vw);
  font-weight: 600;
  line-height: 125%;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h6 {
  font-weight: 500;
  font-size: calc(1.2rem + 0.1vw);
}

p {
  font-weight: 300;
  line-height: 150%;
  font-size: calc(1rem + 0.1vw);
}

p.small {
  font-weight: 400;
  line-height: 150%;
  font-size: calc(
    0.9rem + 0.5vw
  ); /* Base 14.4px + dynamic growth up to 0.5% of viewport width */
}

em {
  font-style: normal;
  background: var(--blue-grad);
  -webkit-text-fill-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* 
.Mascot_svg__curve1 {
  animation: fadein2 2s ease;
}
.Mascot_svg__curve2 {
  animation: fadein1 2s ease;
}
.Mascot_svg__curve3 {
  animation: fadein0 2s ease;
}
.Mascot_svg__ellipse {
  animation: fadein3 2s ease;
}

@keyframes fadein0 {
  0% {
    opacity: 0;
  }
  25% {
    opcacity: 1;
  }
}
@keyframes fadein1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opcacity: 1;
  }
}
@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opcacity: 1;
  }
}
@keyframes fadein3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opcacity: 1;
  }
} */
