.background {
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url('../public/hero_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: -100px 0 0 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(10, 36, 53, 1),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.hero {
  margin: 30vh auto 50px 15vw;
  width: 34rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem; /* 30px */
}

.hero h2 {
  text-align: left;
  margin: 0;
}

.hero h5 {
  margin: 0;
}

.hero p {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  margin: 0;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .hero {
    width: 100%;
    text-align: center;
    margin: 150px auto 50px 0;
    padding: 50px;
    align-items: center;
  }

  .hero h2 {
    text-align: center;
    font-size: 2.2rem;
  }

  .hero p {
    /* display: none; */
  }
}

/* Media queries for larger screens */
@media (min-width: 90.0625rem) {
  /* 1441px  */
  .hero {
    width: 50rem;
  }

  .hero h2 {
    font-size: 3rem;
    line-height: 5.5rem;
  }

  .hero p {
    font-size: 1.25rem;
    line-height: 150%;
  }
}

.notice {
  position: fixed;
  bottom: 10vh;
  width: 70vw;
  text-align: center;
  background: rgba(87, 103, 155, 0.439);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 0 15vw;
  padding: 1rem;
  border-radius: 1rem;
}
