.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  background: linear-gradient(#2a2a2a, #2e5368, #2e5368, #306e90);
}
.slide {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0px auto;
  margin-bottom: 200px;
  z-index: 1;
}
.bgtop,
.bgbottom {
  filter: blur(4px);
  opacity: 0.2;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}
.bgtop {
  -webkit-mask: linear-gradient(#fff, transparent, transparent);
  mask: linear-gradient(#fff, transparent, transparent);
}
.bgbottom {
  -webkit-mask: linear-gradient(transparent, transparent, #fff);
  mask: linear-gradient(transparent, transparent, #fff);
}
.bgwave {
  animation: waveover 10s ease;
  top: 0;
  left: -100%;
  position: fixed;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, transparent, #2a2a2a, transparent);
}

@keyframes waveover {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@media only screen and (min-width: 821px) {
  .slide {
    height: 100%;
  }
}

@media only screen and (max-width: 1120px) {
  .slide {
    width: 75%;
    margin-bottom: 50px;
  }
}
