.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.heart {
  top: 30px;
  width: 80%;
  position: absolute;
  right: -125px;
}
.info {
  max-width: 680px;
}
.tagline {
  margin: 50px 0 30;
  /* z-index: 2; */
}
.partners,
.logos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.partnerlogo {
  display: flex;
  align-items: center;
  height: 20px;
  filter: brightness(0%) invert(60);
  margin: 0 2%;
  animation: fadeinlogo 5s ease;
  min-width: 0;
  opacity: 0.5;
}
/* .partners .partnerlogo:nth-child(1),
.partners .partnerlogo:nth-child(2) {
  flex-grow: 2;
} */
.partnerlogo:nth-child(1) {
  transform: translateY(-1.5px);
}
.partnerlogo:nth-child(3) {
  flex-shrink: 2;
}
.partnerlogo:nth-child(4) {
  flex-shrink: 1.45;
}

@media only screen and (max-width: 768px) {
  .heart {
    width: 110%;
    position: absolute;
    right: 0;
  }
  .tagline {
    width: auto;
  }
  .icon {
    /* position: relative;
    margin: auto; */
    width: 70%;
    opacity: 0.6;
    z-index: -2;
  }
  .title {
    position: absolute;
  }
  .partners {
    flex-flow: column;
  }
  .partners h6 {
    margin-bottom: 0;
  }
  .logos {
    flex-flow: row wrap;
    align-items: flex-start;
  }
  .partnerlogo {
    height: 50px;
    max-width: 40%;
  }
}
