.wrapper {
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.messageicon {
  width: 20%;

}
.wrapper h2 {
  margin: 40px 0 0 0;
}
