.subtitle {
  text-align: center;
  margin: 0 auto 50px auto;
  font-weight: 300;
  line-height: 24px; /* 126.316% */
}

.wrapper h3 {
  margin: var(--heading-margin);
  text-align: center;
}

.cards {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1250px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .wrapper {
    background: var(--blue-background);
    border: 1px solid var(--grey-border);
    border-radius: 0.9375rem; /* 15px */
    padding: 2rem;

  }

  .wrapper .subtitle {
    text-align: left;
  }

  .wrapper h3 {
    text-align: left;
    margin: 20px 0;
  }


  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
