.wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  max-width: 440px;
  padding: 32px;
  align-items: center;
  border-radius: 15px;
  background: #143a4a;
}

.wrapper h6 {
  margin: 8px 0;
}
.profileimage {
  display: flex;
  justify-content: center;
  max-height: 378px;
  max-width: 372px;
  border-radius: 20px;
  overflow: hidden;
}

.title {
  margin: 0;
  color: #bcbcbc;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.description {
  font-size: 0.8rem;
  font-weight: 200;
  text-align: center;
  font-style: italic;
  margin: 10px 10px;
}

@media only screen and (max-width: 821px) {
  .wrapper {
    margin: 30px;
  }
}
