.outer {
  position: relative;
  height: 20px;
  background: white;
}
.inner {
  overflow: hidden;
  position: absolute;
  top: 6px;
  left: 6px;
  height: 9px;
  width: calc(100% - 12px);
  background: linear-gradient(45deg, #76ffe6, #6951ff);
}
.outer,
.inner {
  border-radius: 10px;
}
.mask,
.ani {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  background: white;
}
.marker {
  float: right;
  content: "";
  position: absolute;
  right: 0px;
  display: block;
  width: 10px;
  height: 20px;
  background: blue;
}
.ani {
  animation: 3s prog;
}
.start {
  position: absolute;
  top: 25px;
  left: -25px;
}
.end {
  position: absolute;
  top: 25px;
  right: -25px;
}

@keyframes prog {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
