.wrapper h2 {
  margin: var(--heading-margin);
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  gap: 2rem;
}

@media only screen and (max-width: 768px) {
  .profiles {
    flex-direction: column;
    gap: 1rem;
  }
}
