.wrapper {
  margin: auto;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 0 50px 0;
  max-width: 900px;
}
.wrapper h4 {
  margin: 30px 0 0 0;
}
.wrapper li {
  margin: 10px 0;
  transform: translateX(20px);
}
.wrapper td {
  border-collapse: collapse;

  border-spacing: 0px;
  padding: 10px 5px;
  border: 1px solid #e0e0e0;
}
.instructions ol {
  font-size: 20pt;
  margin: 0;
  padding: 20px 0 0 10px;
}
.instructions ol li {
  padding: 0 10px;
  width: calc(100% + 40px);
  /* transform: translateX(-20px); */
}
.instructions ol li::marker {
  color: #8cdff5;
}
.instructions ol li ol {
  padding-left: 20px;
  list-style-type: lower-alpha;
}

@media only screen and (min-width: 821px) {
  .instructions,
  .faq {
    margin: auto;
    /* width: 80%; */
  }
  .title {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .title div {
    width: 40%;
  }
  .info > * {
    margin: 30px;
  }
}
