.wrapper h1 {
    margin: var(--heading-margin);
}

.cards {
    display: flex;
    overflow-x: auto; 
    gap: 24px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
}

.cards::-webkit-scrollbar {
    height: 5px; 

}

.cards::-webkit-scrollbar-thumb {
    background-color: var(--blue-background); 
    border-radius: 4px; 
}


